@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import './mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

.folder {
    width: 4.5rem;
    &--home {
        position: absolute;
        top: 60%;
        right: 30%;
    }
    &__name {
        font-weight: 400;
        font-size: 1.1rem;
        text-align: center;
    }
}

.file {
    width: 5rem;
    &--github {
        position: absolute;
        top: 10%;
        left: 10%;
    }
    &__name {
        font-weight: 400;
        font-size: 1.1rem;
        text-align: center;
    }
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    align-items: center;
    gap: 3rem;
}

.project {
    width: 50rem;
    &__name {
        text-align: center;
        font-weight: 400;
    }
    @include breakpoints(mobile) {
        width: 30rem;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    &__text {
        width: 85%;
        font-size: 1.3rem;
    }
}

.btn {
    &--contact {
        text-decoration: underline;
        color: #2d6cdf;
        &:hover {
            text-decoration: none;
        }
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.3rem;
    gap: 2rem;
    & a {
        text-decoration: underline;
        position: relative;
        &:hover {
            text-decoration: none;
            color: #fff;
            &::before {
                height: 100%;
            }
        }
        &::before {
            content: '';
            background: #3b79ee;
            color: #fff;
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 0;
            bottom: 0;
            transition: height .3s ease-in-out;
        }
    }
    @include breakpoints(mobile) {
        flex-direction: column;
    }
}

